crispy-bootstrap5
crispy-tailwind
dj-database-url
django-allauth
django-ckeditor
django-cloudinary-storage
django-cors-headers
django-countries
django-email
django-environ
django-filter
django-jazzmin
django-phonenumber-field
djoser
google-api-python-client
gunicorn
kombu
markdown
mysqlclient
opencv-contrib-python
phonenumbers
pip-chill
psycopg2
psycopg2-binary
pyautogui
python-dotenv
python-pptx
sslcommerz-lib
stripe
sweetify
typed-ast
unidecode
uniform
vercel
virtualenv
xhtml2pdf